$xtabs-color-border: #ccc;
$xtabs-active-color: #fff;

.xtabs {
  display: block;
  position: relative;
  margin: 20px 0 40px;

  .tabs-holder {
    display: block;
    position: relative;

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      height: 1px;
      background: $xtabs-color-border;
    }

    .tab {
      display: block;
      position: relative;
      float: left;
      padding: 10px 44px 10px 30px;
      border: solid 1px $xtabs-color-border;
      border-bottom: none;
      margin-left: -1px;
      cursor: pointer;
      font-size: 15px;
      line-height: 15px;

      &.active {
        padding-top: 14px;
        padding-bottom: 14px;
        margin-top: -8px;
        background-color: $xtabs-active-color;
        color: #333;
      }
    }
  }

  .tabs-panel-holder {
    &:after {
      content: "";
      display: block;
      clear: both;
    }

    .tab-panel {
      display: none;
      padding: 15px;
      background: $xtabs-active-color;

      &.active {
        display: block;
      }
    }
  }
}
